<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HY_SN" value="SN000000"/>
    <add key="HY_Username" value="admin@2291"/>
    <add key="HY_Password" value="ZwsUcorZkCrsujLiL6T2vQ=="/>
    <add key="HY_Url" value="http://221.212.213.74:89/ptsWebservice/franchService?wsdl"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
